@import "tailwindcss";

@theme {
    --color-primary-400: #FF385C;
    --color-primary-green: #00A699;
    --color-primary-400: #FF385C; /* vermelho principal Airbnb */
    --color-primary-green: #00A699;
    --color-primary-green-light: #00C4A7;
    --color-primary-green-dark: #00857C;
};